/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #93649a;
  /* background-image: url("../img/background.png"); */
  background-size:cover;
  background-position:center;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: cursive;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  text-align: center;
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 1000%;
}
#rotation {
  color: azure;
}

#background {
  background-image: url("../img/background.png");
  background-size:cover;
  background-position:center;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #888;
  background-color: #da9fd2;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #d7d2ec;
}

/* controls for the gifset columns ------------------------------------------------------------------------------------------------- */
button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

#gifset {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
}

/* --------------------------------------------------------------------------------------------------------------------------------- */
#song-output {
  display:box;
  justify-content: center;
  align-items: center;
  color: white;
}

.button{
  border-radius: 8px;
}

/* #website-info {
  /* insert specified styling for website info if desired
} */
/* 
*, *::before, *::after{
-webkit-box-sizing:padding-box;
box-sizing:padding-box;
}

#tickerwrapper {
  position: relative;
  top: 30px;
  left: 0%;
  border: 1px solid #444;
  width: 99.9%;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}

ul.list{
  position: relative;
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.list.cloned {
  position: absolute;
  top: 0px;
  left: 0px;
}

ul.list li {
  float: left;
  padding-left: 20px; 
}*/

#album-covers{
  width: 100%;
  overflow: hidden;
  position:relative;
}

/*#albums {
  display: flex;
  white-space: nowrap;
  animation: scroll-overlap 10s linear infinite;
  text-align: left;
}

@keyframes scroll-overlap {
  0% {transform: translateX(0%);}
  100% {transform: translateX(-100%);}
} */
